.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #FAC898;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft{
    flex: 3;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color:aliceblue;
    cursor:pointer;
}
.topbarCenter{
    flex: 5;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
    font-size: 18px;
    background-color: aliceblue;
}

.searchInput:focus{
    outline: none;
}

.topbarRight{
    flex: 4;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}

.topbarLink{
    margin-right: 10px;
    font-size: 22px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: crimson;
    border-radius: 50%;
    color: aliceblue;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.topbarImg{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.DropdownMenu{
    display: none;
    height: 80px;
    width: 80px;
}

.DropdownItem{
    width: 60px;
    height: 35px;
    background-color: antiquewhite;
    text-align: center;
    font-size: 15px;
    list-style-type: none;
}

.DropdownItem a{
    text-decoration: none;
    color: black;
    display: block;
}

.DropdownItem a:hover{
    background-color: #FAC898;
}

.Dropdown:hover .DropdownMenu{
    display: inline;
}

.LogoutButton{
    width: 60px;
    height: 40px;
    background-color: antiquewhite;
    text-align: center;
    font-size: 15px;
    list-style-type: none;
    border: none;
    cursor: pointer;
}

.LogoutButton:hover{
    background-color: #FAC898;
}